.container {
  background-color: rgb(245, 163, 0, 0.5);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px; /* Reducción del padding */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  max-width: 300px; /* Reducción del ancho máximo */
  margin: 10px; /* Añadido margen para separar las tarjetas */
}

.container:hover {
  transform: scale(1.05);
}

.content_name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000; /* Color del título en negro */
}

.content_img_diets {
  display: flex;
  flex-direction: column; /* Cambio de dirección para organizar elementos */
  align-items: center;
  margin-top: 20px;
}

.content_img {
  text-align: center;
}

.content_img img {
  max-width: 100%;
  max-height: 150px;
  border-radius: 5px;
}

.content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px; /* Cambio de margen para separar del título */
}

.content_health {
  margin-bottom: 10px;
}

.content_health h6 {
  margin: 0;
}

.content_health p {
  margin: 0;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
}

.content_diets h3 {
  margin: 0 0 5px 0;
  color: #000000; /* Color del título de dietas en negro */
}

.content_diets ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content_diets li {
  font-size: 14px;
  margin-bottom: 3px;
  text-align: justify;
  color: #000000; /* Color del texto en negro */
  font-weight: bold; /* Añade negrita al texto */
}
