/* search.module.css */

.content_buscador {
    display: flex;
    align-items: center;
    border: 1px solid #fe9920;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .buscador {
    padding: 8px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
  }
  
  .buscador::placeholder {
    color: #999;
  }
  
  /* Agrega más estilos según necesites */
  