/* detailPage.module.css */

.containerd {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url("../../assets/backDetail.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .contend_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 163, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .contend_card_img img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px;
  }
  
  .contend_card_datos {
    margin-top: 20px;
    text-align: center;
  }
  
  .contend_summary {
    background-color: rgba(245, 163, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .content_steps {
    background-color: rgba(245, 163, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .step_card {
    margin-top: 10px;
    text-align: justify;
  }
  